@model SMSApp.Models.RegisterViewModel

<div class="m-login__head">
    <h3 class="m-login__title">Sign Up</h3>
    <div class="m-login__desc">Enter your details to create your account:</div>
</div>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "m-login__form m-form", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
   <div class="m-login__signin">
    <div class="form-group m-form__group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="form-group m-form__group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control m-input" })
        </div>
    </div>
    <div class="form-group m-form__group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="form-group m-form__group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group m-form__group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="form-group m-form__group">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
   <div class="form-group m-form__group">
       <div class="m-login__form-action">
           <button id="submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn">Sign In</button>
           
           @*<input type="submit" class="btn btn-default" value="Register" />*@
       </div>
   </div>
   </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
