@using SMSApp.Models
@model SMSApp.Models.SMSAppRegistration

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/animate.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<h2>Create</h2>

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()*@
<form id="test">
    <div class="form-horizontal">
        <h4>SMSAppRegistration</h4>
        <hr />
        <div id="notification"></div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FullNames, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FullNames, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FullNames, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NationalIDNo, "National ID/Passport No", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NationalIDNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NationalIDNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.YearofBirth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.YearofBirth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.YearofBirth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MaritalStatusId, "MaritalStatus", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaritalStatusId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaritalStatusId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GenderId, "Gender", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GenderId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GenderId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Occupation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Occupation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountyId, "County", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CountyId", null, htmlAttributes: new {
                    @class = "form-control"
                    /*@onchange = "FillConstituency();"*/,})
                @Html.ValidationMessageFor(model => model.CountyId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConstituencyId, "Constituency", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ConstituencyId", null, htmlAttributes: new
                {
                    @class = "form-control",})
                @Html.ValidationMessageFor(model => model.ConstituencyId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PWDCategoryId, "PWDCategory", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PWDCategoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PWDCategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="file" id="file" single="single" data-validation-allowing="pdf" />
                @*<input type="button" id="upload" value="Upload" />*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Create" class="btn btn-default" />*@
                <a href="#" class="btn btn-success" id="btnSave">Save Record</a>
            </div>
        </div>
    </div>
</form>
@*}*@

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Scripts/jquery.form-validator.min.js"></script>*@
    <script src="~/Scripts/bootbox.min.js"></script>
    <script>

        //post data to db using webapi
        $(function () {
            $("#btnSave").click(function () {

                var FullNames = $("#FullNames").val();
                var NationalIDNo = $("#NationalIDNo").val();
                var YearofBirth = $("#YearofBirth").val();
                var PhoneNo = $("#PhoneNo").val();
                var EmailAddress = $("#EmailAddress").val();
                var MaritalStatusId = $("#MaritalStatusId").val();
                var GenderId = $("#GenderId").val();
                var Occupation = $("#Occupation").val();
                var CountyId = $("#CountyId").val();
                var ConstituencyId = $("#ConstituencyId").val();
                var Location = $("#Location").val();
                var PWDCategoryId = $("#PWDCategoryId").val();


                var userData = {
                    FullNames: FullNames,
                    NationalIDNo: NationalIDNo,
                    YearofBirth: YearofBirth,
                    PhoneNo: PhoneNo,
                    EmailAddress: EmailAddress,
                    MaritalStatusId: MaritalStatusId,
                    GenderId: GenderId,
                    Occupation: Occupation,
                    CountyId: CountyId,
                    ConstituencyId: ConstituencyId,
                    Location: Location,
                    PWDCategoryId: PWDCategoryId

                };
                var json = JSON.stringify(userData);

                $.ajax({
                    type: "POST",
                    url: '/api/UserDetails',
                    data: json,
                    contentType: "application/json",
                    success: function () {
                        bootbox.alert('Data Saved Successfully');
                        //var html = 'Data Saved Successfully';
                        //$('#notification').html(html).removeClass();
                        //$('#notification').html(html).addClass('alert alert-success');
                        ////alert("Data Saved Successfully");


                        var data = new FormData();
                        //Add the Multiple selected files into the data object
                        var file = $("#file").get(0).files;
                        for (i = 0; i < file.length; i++) {
                            data.append("file" + i, file[i]);
                        }

                        data.append("idno", $("#NationalIDNo").val());
                        //Post the data (files) to the server
                        if (file.length > 0) {
                            $.ajax({
                                type: 'POST',
                                url: "/SMSAppRegistrations/Upload",
                                data: data,
                                contentType: false,
                                processData: false,
                                success: function (result) {
                                    alert(result);
                                }
                                //error: function () {
                                //    alert("An error occurred!");
                                //}
                            });
                        }
                    }
                    //error: function (xhr) {
                    //    alert(xhr.responseText);
                    //}
                });
            });
        });

        //on county click
        $("#CountyId").on("change",
            function () {
                var county = $('#CountyId').val();
                $("#ConstituencyId").removeProp('disabled');
                $.ajax({
                    url: '/SMSAppRegistrations/FillConstituency',
                    type: "GET",
                    dataType: "JSON",
                    data: { location: county },
                    success: function (location) {
                        $("#ConstituencyId").html(""); // clear before appending new list
                        $.each(location,
                            function (i, city) {
                                $("#ConstituencyId").append(
                                    $('<option></option>').val(city.Id).html(city.ConstituencyName));
                            });
                    }
                });
            });

        function FillConstituency() {
            console.log('countytest');
            var county = $('#CountyId').val();
            $("#ConstituencyId").removeProp('disabled');
            $.ajax({
                url: '/SMSAppRegistrations/FillConstituency',
                type: "GET",
                dataType: "JSON",
                data: { location: county },
                success: function (location) {
                    $("#ConstituencyId").html(""); // clear before appending new list
                    $.each(location,
                        function (i, city) {
                            $("#ConstituencyId").append(
                                $('<option></option>').val(city.Id).html(city.ConstituencyName));
                        });
                }
            });

        }

        $("#NationalIDNo").on("change keyup",
            function () {
                var idNo = $('#NationalIDNo').val();
                $.ajax({
                    url: '/SMSAppRegistrations/ValidateNationalID',
                    type: "GET",
                    dataType: "JSON",
                    data: { idno: idNo },
                    success: function (status) {
                        if (status === true) {
                            var html = 'The national idno is already on the database';
                            $('#notification').html(html).addClass('alert alert-danger');
                        }

                    }
                });
            });


        $("#PhoneNo").on("change keyup",
            function () {
                var pnumber = $('#PhoneNo').val();
                $.ajax({
                    url: '/SMSAppRegistrations/ValidatePhoneNo',
                    type: "GET",
                    dataType: "JSON",
                    data: { Phone: pnumber },
                    success: function (status) {
                        if (status === true) {
                            var html = 'The Phone number is already on the database';
                            $('#notification').html(html).addClass('alert alert-danger');
                        }
                    }
                });
            });

        $("#EmailAddress").on("change keyup",
            function () {
                var contact = $('#EmailAddress').val();
                $.ajax({
                    url: '/SMSAppRegistrations/ValidateEmail',
                    type: "GET",
                    dataType: "JSON",
                    data: { emailadd: contact },
                    success: function (status) {
                        if (status === true) {
                            var html = 'The email address is already on the database';
                            $('#notification').html(html).addClass('alert alert-danger');
                        }
                    }
                });
            });

        //$(document).ready(function () {
        //    $("#upload").click(function () {
        //        var data = new FormData();

        //        //Add the Multiple selected files into the data object
        //        var file = $("#files").get(0).files;
        //        for (i = 0; i < file.length; i++) {
        //            data.append("file" + i, file[i]);
        //        }

        //        data.append("id", "1032");
        //        //Post the data (files) to the server
        //        if (file.length > 0) {
        //            $.ajax({
        //                type: 'POST',
        //                url: "/SMSAppRegistrations/Upload",
        //                data: data,
        //                contentType: false,
        //                processData: false,
        //                success: function (result) {
        //                    alert(result);
        //                },
        //                error: function () {
        //                    alert("An error occurred!");
        //                },
        //            });
        //        }
        //    });
        //});

    </script>
}





