@model IEnumerable<SMSApp.Models.SMSAppRegistration>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/datatables.min.css" rel="stylesheet" />
<link href="~/Content/datatables.bootstrap.css" rel="stylesheet" />
<link href="//cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" />

<table id="SMSAppRegistrations" class="table-hover table-striped" style="width:50%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullNames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationalIDNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearofBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender.GenderType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaritalStatus.MaritalStatusType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Constituency.ConstituencyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.County.CountyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PWDCategory.PWDCategoryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullNames)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NationalIDNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearofBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender.GenderType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaritalStatus.MaritalStatusType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Constituency.ConstituencyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.County.CountyName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PWDCategory.PWDCategoryType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Occupation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SMSAppRegistrationId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SMSAppRegistrationId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SMSAppRegistrationId })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    @*<script src="~/Scripts/datatables.min.js"></script>
        <script src="~/Scripts/datatables.bootstrap.js"></script>*@
    <script src="~/Scripts/dataTables.responsive.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#SMSAppRegistrations').dataTable({
                responsive: true,
                dom: 'Bfrtip',
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            });

        });


    </script>



}