@model IEnumerable<SMSApp.Models.SMSAppRegistration>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<link href="~/assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />

<!-- BEGIN: Subheader -->
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Dashboard</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">Actions</span>
                    </a>
                </li>
                <li class="m-nav__separator">-</li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">Generate Reports</span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
                <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                    <i class="la la-plus m--hide"></i>
                    <i class="la la-ellipsis-h"></i>
                </a>
                <div class="m-dropdown__wrapper">
                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="m-nav">
                                    <li class="m-nav__section m-nav__section--first m--hide">
                                        <span class="m-nav__section-text">Quick Actions</span>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-share"></i>
                                            <span class="m-nav__link-text">Activity</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                            <span class="m-nav__link-text">Messages</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-info"></i>
                                            <span class="m-nav__link-text">FAQ</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="" class="m-nav__link">
                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                            <span class="m-nav__link-text">Support</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__separator m-nav__separator--fit">
                                    </li>
                                    <li class="m-nav__item">
                                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">Submit</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Subheader -->

<div class="m-content">
    <table id="SMSAppRegistrations" class="table table-striped- table-bordered table-hover table-checkable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullNames)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NationalIDNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YearofBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender.GenderType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaritalStatus.MaritalStatusType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Constituency.ConstituencyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.County.CountyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PWDCategory.PWDCategoryType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Occupation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullNames)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NationalIDNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearofBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender.GenderType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaritalStatus.MaritalStatusType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Constituency.ConstituencyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.County.CountyName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PWDCategory.PWDCategoryType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Occupation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.SMSAppRegistrationId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.SMSAppRegistrationId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.SMSAppRegistrationId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



@section Scripts{
    <script src="~/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
    <script src="~/assets/demo/default/custom/crud/datatables/extensions/buttons.js" type="text/javascript"></script>


    <script>
        $(document).ready(function () {
            $("#SMSAppRegistrations").DataTable({
                responsive: !0, dom: "<'row'<'col-sm-6 text-left'f><'col-sm-6 text-right'B>>\n\t\t\t<'row'<'col-sm-12'tr>>\n\t\t\t<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>",
                buttons: ["print", "copyHtml5", "excelHtml5", "csvHtml5", "pdfHtml5"],

            });
        });


    </script>



}